.app {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	/*background: image('bg.svg');
	background-attachment: fixed;*/
	/*background: image('noise.png'), $black-bg;*/
	.bg-lights {
    z-index: -1;
    top: 0;
  	position: fixed;
    width: 100%;
  	overflow: hidden;
  	height: 100vh;
  	background: image('bg.jpg') no-repeat center;/*, $black-bg;*/
    background-size: cover;
  }
}
