.product {
	&-block {
		padding: 35px 0;
		border-bottom: 1px solid $white;
		&:last-child {
			border: none;
		}
		&__title {
			font-family: $font;
			font-weight: 400;
			@include font(1.6rem, calc(21 / 16));
		}
	}
}

@media screen and (max-width: 767px) {
	.product {
		&-block {
		}
	}
}
