.swiper {
	&.more-swiper__swiper {
		.all-nft__swiper-slide.swiper-slide-active {
			.video {
				max-height: 478px;
			}
		}
	}
	&-slide {
		width: 270px;
		&-active {
			width: 370px;
			height: 658px;
			& .video {
				height: inherit;
				&-preview {
					height: inherit;
				}
			}
			& .video-icon img {
				width: 60px;
				height: 60px;
			}
			& .video-icon {
				bottom: 88px;
				left: 10px;
			}
			& .video-bottom {
				padding: 12px 30px;
				&__sign img {
					max-height: 55px;
				}
				&__tag p {
					@include font(1.6rem, calc(21 / 16));
				}
				&__tag-date {
					@include font(1.4rem, calc(18 / 14));
				}
			}
			& .video-play {
				width: 100px;
				height: 100px;
				& svg[data-svg='play'] {
					width: 28px;
					height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.swiper {
		&-slide {
			width: auto;
			& .video {
				&-preview {
					height: inherit;
				}
			}
			&-active {
				width: auto;
				height: auto;
				& .video-icon img {
					width: 47px;
					height: 47px;
				}
				& .video-icon {
					bottom: 68px;
					left: 8px;
				}
				& .video-bottom {
					padding: 10px 24px;
					&__sign img {
						max-height: 43px;
					}
					&__tag p {
						@include font(1.2rem, calc(16 / 12));
					}
					&__tag-date {
						@include font(1rem, calc(13 / 10));
					}
				}
				& .video-play {
					width: 78px;
					height: 78px;
					& svg[data-svg='play'] {
						width: 22px;
						height: 27px;
					}
				}
			}
		}
	}
}
