.timer {
	@include grid(10px);
	grid-template-columns: 1fr auto;
	&-wrapper {
		text-align: center;
		& p {
			max-width: 250px;
			margin-top: 5px;
			@include font(1.2rem, calc(15.67 / 12));
		}
	}
	&-screen {
		border-radius: 2px;
		background: rgba($white, 0.07);
		@include flex();
		&__col {
			border-radius: 2px;
			padding: 12px 17px 13px 17px;
			@include grid(0, center, center);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: calc(100% - 10px);
				background: rgba($white, 0.1);
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&:last-child {
				&::after {
					content: none;
				}
			}
		}
		&__text {
			@include font(1.2rem, calc(15.67 / 12));
			color: $gray-650;
		}
		&__count {
			font-family: $title-font;
			font-weight: 400;
			@include font(2rem, calc(26 / 20));
			display: block;
		}
	}
	&__info {
		@include grid(0, center, center);
		background: rgba($white, 0.07);
		padding: 9px 11px;
		border-radius: 2px;
		position: relative;
		&:hover {
			background: $lightgreen;
			& svg path {
				fill: $black;
			}
		}
	}
	&-modal {
		position: absolute;
		background: rgba($white, 0.07);
		left: 14px;
		backdrop-filter: blur(25px);
		bottom: calc(100% + 13px);
		border-radius: 2px;
		border-bottom-left-radius: 0;
		color: $white;
		width: 344px;
		&__wrapper {
			position: relative;
			padding: 20px;
			padding-bottom: 18px;
			text-align: left;
			&::before {
				content: '';
				position: absolute;
				background: rgba($white, 0.07);
				backdrop-filter: blur(25px);
				left: 0;
				top: calc(100%);
				width: 7px;
				height: 8px;
			}
		}
		&__item {
			margin-bottom: 18px;
			@include font(1.4rem, calc(18 / 14));
			padding-left: 17px;
			position: relative;
			&::before {
				width: 6px;
				height: 6px;
				content: '';
				position: absolute;
				left: 0;
				top: 5px;
				background: $lightgreen;
				border-radius: 2px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.timer {
		&-wrapper {
			& p {
				max-width: 200px;
				text-align: left;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.timer {
		grid-gap: 9px;
		max-width: 100%;
		&-screen {
			&__col {
				padding: 10px 13px;
			}
			&__count {
				@include font(1.6rem, calc(21 / 16));
			}
			&__text {
				@include font(1.2rem, calc(16 / 12));
			}
		}
	}
}
