.video {
	position: relative;
	border-radius: 2px;
	@include flex();
	&-modal {
		z-index: 10;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, calc(-50%));
		&-wrapper {
			position: relative;
			z-index: 100;
		}
		&__title {
			text-align: center;
			margin-bottom: 20px;
			@include font(3.6rem, calc(47 / 36));
		}
		&__screen {
			position: relative;
		}
		&__close {
			&-wrapper {
				position: absolute;
				z-index: 20;
				top: 0;
				right: -30px;
			}
		}
		&__video {
			max-width: calc(100vw - 40px);
			max-height: calc(100vh - 100px);
			border-radius: 10px;
			background: $black;
		}
		&__control {
			position: absolute;
			bottom: 17px;
			left: 50%;
			transform: translateX(-50%);
			@include flex();
			&-btn {
				border-radius: 2px;
				@include grid(0, center, center);
				background: rgba($white, 0.2);
				width: 70px;
				height: 70px;
				margin-right: 12px;
				&:last-child {
					margin: 0;
				}
				&_discard {
					&:hover rect {
						fill: #f00000;
					}
				}
				&:active {
					opacity: 0.8;
				}
				&:disabled {
					opacity: 0.3;
				}
			}
		}
	}
	&-bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba($white, 0.07);
		backdrop-filter: blur(25px);
		border-radius: 2px;
		padding: 9px 20px;
		@include flex(row, center, space-between);
		&__tag {
			text-align: right;
			& p {
				margin-bottom: 4px;
				@include font(1.2rem, calc(16 / 12));
				font-weight: 700;
				font-family: $title-font;
			}
			&-date {
				@include font(1rem, calc(13 / 10));
				font-family: Questrial;
			}
		}
		&__sign img {
			max-height: 40px;
		}
	}
	&-play {
		display: block;
		width: 80px;
		height: 80px;
		position: relative;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(24px);
		border-radius: 2px;
		& svg[data-svg='play'] {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% + 3px), -50%);
		}
		&__wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			background: $lightgreen;
			& svg[data-svg='play'] path {
				fill: $black;
			}
		}
		&__link {
			width: 50px;
			height: 50px;
			& a {
				width: inherit;
				height: inherit;
				display: grid;
				grid-gap: 0;
				align-items: center;
				justify-items: center;
				border-radius: 2px;
				background: rgba(243, 243, 243, 0.2);
			}
		}
	}
	&-preview {
		border-radius: 2px;
	}
	&-icon {
		position: absolute;
		bottom: 64px;
		left: 7px;
	}
	&_big {
		& .video-play {
			width: 100px;
			height: 100px;
			& svg[data-svg='play'] {
				width: 28px;
				height: 35px;
			}
		}
		& .video-icon {
			bottom: 88px;
		}
		& .video-icon img {
			width: 60px;
			height: 60px;
		}
		& .video-bottom {
			padding: 12px 30px;
			&__sign img {
				max-height: 55px;
			}
			&__tag p {
				@include font(1.6rem, calc(21 / 16));
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.video {
		width: 100%;
		margin: 0 auto;
		&-modal {
			&__title {
				margin-bottom: 10px;
				@include font(2rem, calc(26 / 20));
			}
			&__control {
				&-btn {
					margin-right: 5px;
					width: 50px;
					height: 50px;
					&:last-child {
						margin-right: 0;
					}
					& svg {
						max-width: 18px;
						max-height: 18px;
					}
				}
			}
			&__close {
				&-wrapper {
					right: 10px;
					top: 10px;
				}
			}
		}
		&-play {
			width: 78px;
			height: 78px;
		}
		&-preview {
			width: 100%;
			height: auto;
		}
		&-bottom {
			padding: 10px 23px;
			&__tag {
				& p {
					@include font(1.3rem, calc(17 / 13));
					margin-bottom: 3px;
				}
				&-date {
					@include font(1.1rem, calc(14 / 11));
				}
			}
			& img {
				max-height: 43px;
			}
		}
		&_big {
			& .video-icon img {
				width: 47px;
				height: 47px;
			}
		}
	}
}
