// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex($flex-direction: row, $align-items: flex-start, $justify-content: flex-start, $flex-wrap: nowrap) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
}

@mixin font($size, $lineheight) {
	font-size: $size;
	line-height: $lineheight;
}

@mixin grid($grid-gap: 30px, $align-items: start, $justify-items: start) {
	display: grid;
	grid-gap: $grid-gap;
	align-items: $align-items;
	justify-items: $justify-items;
} ;
