// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$title-font: 'SpaceMono', Arial, sans-serif;
$font: 'Questrial', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$gray-400: #ebebeb;
$gray-500: #e5e5e5;
$gray-600: #ccc;
$gray-650: #c4c4c4;
$gray-700: #b2b2b2;
$gray-800: #b3b3b3;
$gray-900: #b8b8b8;
$lightgreen: #d6ff7e;
$bg-blur-blue: #34dbff;
$bg-blur-pink: #ff33de;

$black: #000;
$black-bg: #14101e;
