.home {
  &__light-1 {
    position: absolute;
    top: -391px;
    left: -433px;
  }
  &__light-2 {
    position: absolute;
    top: 262px;
    right: 0px;
  }
  &__light-3 {
    position: absolute;
    top: 1123px;
    left: 0px;
  }
  &__light-4 {
    position: absolute;
    top: 1626px;
    right: 0px;
  }
  &__light-5 {
    position: absolute;
    top: 3001px;
    left: 0px;
  }
  &__light-6 {
    position: absolute;
    top: 4057px;
    right: 0px;
  }
  &__light-7 {
    position: absolute;
    top: 5274px;
    left: 0px;
  }
  &__light-8 {
    position: absolute;
    top: 6494px;
    left: 0px;
  }
  &__light-9 {
    position: absolute;
    top: 7930px;
    right: 0px;
  }
  &__light-10 {
    position: absolute;
    top: 9029px;
    right: 0px;
  }
  &__light-11 {
    position: absolute;
    top: 10020px;
    left: 0px;
  }
  &__light-12 {
    position: absolute;
    top: 11192px;
    right: 0px;
  }
  &__light-13 {
    position: absolute;
    bottom: 0;
    right: 0px;
  }
  section {
    position: relative;
  }
}
